
<div class="shadow-sm bg- rounded col-4 p-4" style="position: absolute; top: 50%;left:50%;transform: translate(-50%,-50%);">

  <form #myForm="ngForm" class="bg-light p-4">
  <p *ngIf="error_msg" class="alert alert-danger badge p-3 border w-100 rounded-0">{{ error_msg }}</p>

  <div class="m-2">
    <label for="username"><i class="fa fa-user"></i> Username</label>
    <input type="text" class="form-control" id="username" name="username" ngModel>
  </div>
  <div class="m-2">
    <label for="password"><i class="fa fa-lock"></i> Password</label>
    <input type="password" class="form-control" id="password" name="password" ngModel>
  </div>
  <button class="btn btn-primary shadow-sm m-2" (click)="login()" >Login</button>
</form>
</div>
<router-outlet></router-outlet>
